.banner
	height: 100vh
	position: relative
	.content-banner
		+y-align
		color: white
		.green-block
			background-color: $green
			text-transform: uppercase
			padding: 10px 20px
			display: inline-block
			font-weight: 500
			letter-spacing: 2px
		.head-title-banner
			font-size: 120px
			text-transform: uppercase
		.title
			font-size: 36px
			letter-spacing: 1px
			padding-bottom: 60px

		+breakpoint(xxlarge up)
			.head-title-banner
				font-size: 140px
				letter-spacing: 10px
	
	.contact-us-box
		color: rgba(white, 0.5)
		font-size: 14px
		position: absolute
		bottom: 50px
		z-index: 1
		font-weight: 500
		.tel
			padding-right: 30px
			position: relative
			&:after
				content: ""
				display: inline-block
				position: absolute
				right: 14px
				width: 2px
				height: 90%
				background-color: rgba(white, 0.5)
		a
			&:hover
				color: white
	
	.see-more-btn
		position: absolute
		right: 50px
		bottom: 50px
		color: rgba(white, 0.5)
		text-transform: uppercase
		font-size: 12px
		font-weight: 500
		&:after
			content: ""
			display: block
			+x-align
			bottom: -50px
			background-color: rgba(white, 0.5)
			width: 1px
			height: 40px
		&:hover
			color: white