.header-container
	position: fixed
	padding: 30px 50px
	width: 100%
	background: transparent
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	+transition-property(transform)
	+transition-duration(1s)
	+translate(0,-100%)
	z-index: 11
	&.scrolled, &.visible
		+translate(0,0)
	&.scrolled
		background-color: #212121
		.button
			display: inline-block
	
	.logo
		svg
			height: 100%
			width: 50px

	//     H a m b u r g e r
	
	.button
		display: none
.hamburger-container
	position: relative
	margin-left: 20px
	.hamburger
		background-color: white
		position: relative
		.hamburger-box
			width: 32px
			cursor: pointer

		.hamburger-inner
			border-radius: 0
			left: 50%
			+translate(-50%,0)
			height: 2px
			width: 25px
			background: black
			&:before, &:after
				background: black
				height: 2px
				width: 25px
				border-radius: 0
			// &:before
			// 	top: -9px
			// &:after
			// 	top: -18px
		
	.title
		position: absolute
		text-transform: uppercase
		color: rgba(white, 0.5)
		font-size: 12px
		margin: 10px 0 0 12px
		letter-spacing: 2px

.language-box
	padding: 30px 15px 37px
	position: relative
	cursor: pointer

	text-transform: uppercase
	svg
		width: 12px
		height: 12px
		margin-left: 10px
		vertical-align: middle
		+transition(.3s)

	.language-one
		font-weight: 600
		color: rgba(white, 0.5)
		cursor: pointer
		height: 100%
		
		display: inline-block
	.hover-block
		position: absolute
		width: 100%
		opacity: 0
		left: 0
		top: 55px
		pointer-events: none
		background-color: white
		+transition(.3s)
		border-bottom: 3px solid red
		.language-one
			color: rgba(#445963, 0.6)
			border-bottom: 1px solid red
			display: block
			padding: 10px 20px
			text-align: center
			&:last-child
				border-bottom: 1px solid transparent
			&:hover
				color: #445963
	&:hover
		svg
			+rotate(180deg)
		.hover-block
			opacity: 1
			pointer-events: initial