.menu-wrap
	position: fixed
	display: flex
	flex-direction: row
	align-items: stretch
	z-index: 1000
	opacity: 0
	width: 100%
	min-height: 100vh
	overflow: hidden
	pointer-events: none
	&.opened
		pointer-events: initial
		opacity: 1
	.one-tupe
		width: 14.2857143%
		position: relative
		overflow: hidden
		height: 80vh
		.title
			+rotate(-90deg)
			position: absolute
			bottom: 240px
			right: -150px
			width: 400px
			color: white
			font-weight: 600
			z-index: 1

	.bottom-nav
		height: 20vh
		background-color: $black
		position: absolute
		left: 0
		right: 0
		bottom: 0
		ul
			color: white
			li
				display: inline-block
				margin-left: 30px
				font-weight: 500
				vertical-align: middle
				svg
					width: 20px 
					height: 20px
					// fill: white
				&:hover
					color: $green
					svg
						*
							fill: $green

		ul, .button
			+y-align

	a
		font-size: 20px
		text-transform: uppercase

	.hamburger-container
		position: absolute
		right: 60px
		top: 30px
		z-index: 5
		svg
			width: 30px
			+xy-align