p
	font-size: 14px
	font-weight: 400
	line-height: 1.5

.ttu
	text-transform: uppercase
.main-navigation
	position: absolute
	top: 0
	bottom: 0
	right: 200px
	border-left: 1px solid rgba(white, 0.3)
	border-right: 1px solid rgba(white, 0.3)
	.one-nav-box
		color: white
		display: block
		padding: 40px 115px 30px 40px
		border-bottom: 1px solid rgba(white, 0.3)
		height: 14.2857143vh
		h3
			text-transform: uppercase
			padding-top: 15px
			font-size: 16px
			font-weight: bold
		svg
			fill: white
			width: 40px
			height: 40px
			display: block

.big-title-box
	text-transform: uppercase
	text-align: center
	font-weight: 600
	width: 800px
	max-width: 100%
	margin: auto
	.h5
		font-size: 18px
	.title
		color: $green
		letter-spacing: 2px
		font-weight: 900
		font-size: 72px
		padding-bottom: 10px
	.sub-title
		font-weight: 400
		font-size: 22px
	+breakpoint(xxlarge up)
		.title
			font-size: 90px

.thin-line
	width: 2px
	height: 40px
	display: block
	background-color: $black
	margin: 20px auto