= render "main_banner"

.why-us-wrap
	.img-bg-patren style="background-image: url(#{asset_path('white_twil.jpg')})"
	
	.big-title-box
		.thin-line
		h5.h5 чому ми
		h2.title 15 hjrsd
		h4.sub-title на ринку охоронних послуг україни!

	.about-us-box
		.img-bg style="background-image: url(#{asset_path('photo/effort_man.png')})"
		.inner
			.one-box 
				.figure 01
				.thin-line
				.title 2850
				.sub-title обєктів під охороною
			.one-box
				.figure 02
				.thin-line
				.title 1200
				.sub-title обєктів під охороною
			.one-box
				.figure 03
				.thin-line
				.title 12
				.sub-title областей укріїни

			.button.black
				|більше про нас
				.left-top

				.right-top

				.right-bottom

				.left-bottom


.slider-wrap
	.title-box
		.title.green-color.ttu наші акції
		.thin-line
	ul.discounts-slider
		li
			.img-bg style="background-image: url(#{asset_path('photo/banner-special-offers.jpg')})"
		li
			.img-bg style="background-image: url(#{asset_path('photo/news-1.jpg')})"
		li
			.img-bg style="background-image: url(#{asset_path('photo/sample-2.jpg')})"
	.slider-content-container
		.content-slider-box.active
			.title.green-color.ttu Підключайся на ефорт без втрат
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos maxime itaque a officiis odio! Necessitatibus ipsum, deleniti ipsa quam debitis eius totam esse mollitia sunt aspernatur amet minus cum id!
			.button.black
					|читати
					.left-top

					.right-top

					.right-bottom

					.left-bottom
			.date 19 січня, 2018

		.content-slider-box
			.title.green-color.ttu Підключайся на ефорт без втрат
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos m
			.button.black
					|читати
					.left-top

					.right-top

					.right-bottom

					.left-bottom
			.date 2 лютого, 2018

		.content-slider-box
			.title.green-color.ttu Підключайся на ефорт без втрат
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos maxime itaque a officiis odio! Necessitatibus ipsum, deleniti ipsa quam debitis eius totam esse mollitia sunt aspernatur amet minus cum id! os maxime itaque a officiis odio! Necessitatibus ipsum, deleniti ipsa quam debitis eius totam esse mollitia sunt aspernatur amet minus 
			.button.black
					|читати
					.left-top

					.right-top

					.right-bottom

					.left-bottom
			.date 26 січня, 2018

		.slider-button-box
			.next-slide = inline_svg "svg/ic_keyboard_arrow_right_black_24px.svg"
			
			.prev-slide = inline_svg "svg/ic_keyboard_arrow_left_black_24px.svg"
			
			
			.current-box
				.centered
					.current-slide.dib 1
					span &#47;
					.total-slide.dib