.why-us-wrap
	position: relative
	padding: 100px 0 200px
	// background-color: $grey
	overflow: hidden
	// .img-bg
	// 	background-size: contain
	// 	background-repeat: repeat
	.about-us-box
		margin: 100px auto
		background-color: white
		width: 900px
		max-width: 100%
		padding: 100px 100px 200px
		position: relative
		&:before
			content: ""
			background-color: $green
			width: 200px
			position: absolute
			top: 0
			left: 0
			bottom: 0
		.img-bg
			background-size: contain
			background-position: left
			left: -300px
			top: -200px
			bottom: -200px
		.inner
			position: relative
			margin-left: 200px
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			padding-bottom: 50px
		.one-box
			width: 33%
			text-transform: uppercase
			text-align: center
			.figure
				font-size: 12px
				font-weight: 900
			.title
				font-size: 40px
				font-weight: 800
				color: $green
				padding-bottom: 10px
			.sub-title
				font-size: 14px
				font-weight: 500
				line-height: 1.5
		.button
			+x-align
			bottom: -90px

		+breakpoint(xxlarge up)
			width: 1200px

.slider-wrap
	position: relative
	.title-box
		+x-align
		// top: -150px
		+translate(-50%,-50%)
		z-index: 1
		font-weight: 800
	.discounts-slider
		li
			position: relative
			height: 100vh

	.slider-content-container
		padding: 50px
		position: absolute
		bottom: 20px
		width: 700px
		background-color: white
		.title
			padding-bottom: 20px
			font-weight: 900
			font-size: 30px
		.button
			margin: 50px 0 70px

		.date
			position: absolute
			left: 50px
			bottom: 50px

		.content-slider-box
			display: none
			&.active
				display: block
		.slider-button-box
			position: absolute
			right: 0
			top: 0
			bottom: 0
			width: 50px
			background-color: $black
			color: $grey
			.prev-slide, .next-slide
				height: 40%
				border-bottom: 1px solid $grey
				position: relative
				cursor: pointer
				svg
					fill: $grey
					width: 50px
					height: 40px
					+centered-inside
			
			.current-box
				position: relative
				height: 20%
				width: 100%
				.centered
					+xy-align