.row.columns-left
	.columns
		float: left !important

.dib
	display: inline-block
	vertical-align: middle
	line-height: 1

.clearfix
	position: relative
	+clearfix
	.floated
		float: left
	.floated-right
		float: right

.float-right
	@media #{$medium-up}
		float: right !important
.float-left
	@media #{$medium-up}
		float: left !important

.mobile
	@media #{$medium-up}
		display: none
.desktop
	@media #{$small-only}
		display: none

.img-container
	position: relative
	width: 100%
	height: 0
	padding-bottom: 56%
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	overflow: hidden

.img-bg-patren
	background-repeat: repeat
	+fullsize
	z-index: -1
.img-bg
	+fullsize
	background-position: center
	background-size: cover
	background-repeat: no-repeat
	+transition(1s)
	&.patren
		background-size: contain
		background-repeat: repeat
.lightened
	+grayscale
	background-color: rgba(255,255,255,0.75)
	background-blend-mode: lighten

.darken
	+grayscale
	background-color: rgba(0,0,0,0.25)
	background-blend-mode: darken

.button
	text-transform: uppercase
	font-weight: 700
	padding: 15px 25px
	border: 1px solid rgba(white, 0.5)
	display: inline-block
	color: white
	font-size: 16px
	letter-spacing: 3px
	position: relative
	cursor: pointer
	+transition(1s)
	.left-top, .right-top, .right-bottom, .left-bottom
		width: 15px
		height: 1px
		background-color: rgba(white, 0.7)
		position: absolute
		+transition(1s)
		&:before
			content: ""
			position: absolute
			width: 1px
			height: 15px
			background-color: rgba(white, 0.7)
			+transition(1s)

	.left-top, .left-bottom
		left: -1px
		&:before
			left: 0px
	.right-top, .right-bottom
		right: -1px
		&:before
			right: 0
	.left-bottom, .right-bottom
		bottom: -1px
		&:before
			bottom: 0
	.left-top, .right-top
		top: -1px

	&:hover
		background-color: $green
		.left-top, .right-top, .right-bottom, .left-bottom
			width: 130px
			&:before
				height: 30px

	&.black
		color: $black
		.left-top, .right-top, .right-bottom, .left-bottom
			background-color: $black
			&:before
				background-color: $black

		&:hover
			color: white
			.left-top, .right-top, .right-bottom, .left-bottom
				background-color: rgba(white, 0.7)
				&:before
					background-color: rgba(white, 0.7)


.green-color
	color: $green