.header-container
	.left-part
		.logo.dib =inline_svg "svg/logo.svg"
		.language-box.dib
			.language-one.active
				| ua
				= inline_svg "svg/ic_keyboard_arrow_down_black_24px.svg"
				.hover-block
					.language-one ru
					.language-one eu
	.right-part
		.button.dib
			|замовити
			.left-top

			.right-top

			.right-bottom

			.left-bottom

		.hamburger-container.dib.menu-button
			.hamburger
				.hamburger-box
				.hamburger-inner
			.title menu