.main-banner.banner
	.img-bg style="background-image: url(#{asset_path('photo/banner.jpg')})"
	
	.row
		.large-6.columns
			.content-banner
				.green-block компанія
				h1.head-title-banner ефорт
				h2.title - ваша безпека це наша робота
				.button 
					|замовити
					.left-top

					.right-top

					.right-bottom

					.left-bottom

			.contact-us-box
				a.tel href="tel:+380974562145" +38 097 456 21 45
				a.mail href="milito:office@effort.com.ua" office@effort.com.ua

	a.see-more-btn href="" Детальніше

	.main-navigation
		a.one-nav-box href=""
			= inline_svg 'svg/secure.svg'
			h3 фізична охорона
		a.one-nav-box href=""
			= inline_svg 'svg/secure.svg'
			h3 
				|супровід матеріальних 
				br
				|цінностей
		a.one-nav-box href=""
			= inline_svg 'svg/secure.svg'
			h3 фізична охорона
		a.one-nav-box href=""
			= inline_svg 'svg/secure.svg'
			h3 фізична охорона
		a.one-nav-box href=""
			= inline_svg 'svg/secure.svg'
			h3 фізична охорона
		a.one-nav-box href=""
			= inline_svg 'svg/secure.svg'
			h3 
				|супровід матеріальних 
				br
				|цінностей
		a.one-nav-box href=""
			= inline_svg 'svg/secure.svg'
			h3 фізична охорона