.menu-wrap
	.hamburger-container.close-btn
		.hamburger
			.hamburger-box =inline_svg "svg/close.svg"
	a.one-tupe href=""
		h2.title іфзична охорона
		.img-bg style="background-image: url(#{asset_path('photo/banner.jpg')})"
	a.one-tupe href=""
		h2.title супровід матеріальних цінностей
		.img-bg style="background-image: url(#{asset_path('photo/news-5.jpg')})"
	a.one-tupe href=""
		h2.title системи безпеки
		.img-bg style="background-image: url(#{asset_path('photo/news-3.jpg')})"
	a.one-tupe href=""
		h2.title пультова охорона
		.img-bg style="background-image: url(#{asset_path('photo/stuff-1.jpg')})"
	a.one-tupe href=""
		h2.title протипожежна охорона
		.img-bg style="background-image: url(#{asset_path('photo/stuff-2.jpg')})"
	a.one-tupe href=""
		h2.title супровід залізничних вантажів
		.img-bg style="background-image: url(#{asset_path('photo/stuff-5.jpg')})"
	a.one-tupe href=""
		h2.title клінінг азс
		.img-bg style="background-image: url(#{asset_path('photo/stuff-6.jpg')})"
	.bottom-nav
		.row
			.columns.large-8
				ul
					li 
						a href="" = inline_svg "svg/home-button.svg"
					li 
						a href="" про компанію
					li  
						a href="" послуги
					li 
						a href="" новини
					li 
						a href="" акції
					li 
						a href="" вакансії
					li 
						a href="" контакти

			.columns.large-2
				.button 
					|замовити
					.left-top

					.right-top

					.right-bottom

					.left-bottom